.main {
    min-height: 80vh;
}

.ticket {
    width: 200px;
    margin: 0 auto;
}

#sidebarMenu {
    height: 80vh;
}

.admin-container {

}

label.required:after {
    content: "*";
    color: red;
    margin-left: 5px;
}

.register_wrapper, .login_wrapper, .ticket_form_wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
}

.title_header {
    display: flex;
    justify-content: space-between;
}

.resolved {
    background-color: #d6f0e0;
    color: #0d6832 !important;
}

.frozen, .waiting, .in.process {
    background-color: #dfe7f6;
    color: #2c58a0 !important;
}

.unresolved {
    background-color: #fbf0da;
    color: #73510d !important;
}

.tickets_table .btn-link {
    text-decoration: none;
}

.btn-link, .btn-link:first-child:hover, .btn-link:focus-visible, .btn-link:hover, :not(.btn-check)+.btn-link:hover {
    text-decoration: none;
    box-shadow: var(--mdb-btn-box-shadow);
}

.btn:first-child:hover, .btn:focus-visible, .btn:hover, :not(.btn-check)+.btn:hover {
    box-shadow: var(--mdb-btn-hover-box-shadow);
}
.btn-link:hover {
    color: var(--mdb-btn-hover-color);
}

.signin_text {
    font-size: larger;
    font-weight: 500;
}

.btn-google {
    background: #c32f10;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    margin-top: 15px;
    text-decoration: none;
    text-align: center;
}

.btn-google:hover {
    opacity: .8;
    color: #fff;
}