.main {
    min-height: 80vh;
}

.ticket {
    width: 200px;
}

#sidebarMenu {
    height: 80vh;
}

.admin-container {

}

.register_wrapper, .login_wrapper, .ticket_form_wrapper {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px;
}