{% extends 'base.html.twig' %}
{% block title %}
    The main page
{% endblock %}
{% block body %}
    <div class="wrapper d-flex align-items-center justify-content-center">
        <a href="/ticket/create" class="ticket btn btn-primary mt-5">Make a ticket</a>
    </div>
{% endblock %}